<template>
  <div class="container">
    <header class="jumbotron">
      <h1>Department Registration page</h1>
    </header>
  </div>
</template>

<script>

export default {
  name: 'Home',
  data() {
    return {
      content: '',
      msg: ''
    };
  },
};
</script>

<style scoped>
header {
  margin-top: 5%;
}

h1 {
  font-size:4vw;
  font-weight: bolder;
}

h2 {
  font-size:2vw;
  font-weight: normal;
}
</style>