<template>
    <div class="container">
        <header class="jumbotron">
        <h3>
            <strong>My registration</strong>
        </h3>
        </header>
        <form name="form" @submit.prevent="handleCheck">
            <div class="form-group">
            <div v-if="alert" class="alert alert-danger" role="alert">{{alert}}</div>
            </div>
            <div v-if="!submitted">
                <div class="form-group">
                    <label for="id">Registration id:</label>
                    <input
                        v-model="id"
                        type="text"
                        class="form-control"
                        name="id"
                    />
                </div>
                
                <div class="form-group" v-if="id">
                    <button class="btn btn-primary btn-block">
                    <span>Check registration</span>
                    </button>
                </div>
            </div>
        </form>
        <div v-if="registration.id">
            <p>
                <strong>Id:</strong>
                {{registration.id}}
            </p>
            <p>
                <strong>Name:</strong>
                {{registration.name}}
            </p>
            <p>
                <strong>Surname:</strong>
                {{registration.surname}}
            </p>
            <p>
                <strong>Department:</strong>
                {{registration.departament}}
            </p>
            <p>
                <strong>Specialist:</strong>
                {{registration.user}}
            </p>
            <p>
                <strong>Date expected:</strong>
                {{registration.date}}
            </p>
            <p>
                <strong>Time expected:</strong>
                {{registration.time}}
            </p>
            <p v-if="status=='Waiting'">
                <strong>Recipients before me:</strong>
                {{recipients}}
            </p>
            <p>
                <strong style="font-weight: bold;">Status:</strong>
                {{status}}
            </p>
        </div>
    </div>
</template>

<script>
import Registration from '../models/registrationDisplay';
import axios from 'axios';


export default {
    props: ['code'],
    name: 'Register',
        data() {
            return {
                submitted: false,
                id: this.code,
                alert: "",
                registration: new Registration(null,"","","","",null,null,null,null, null),
                recipients: null,
                users: [],
                departaments: [],
        };
    },
    methods: {
        getRecipients(){
            const path = `/line`;
            const payload = {
                time: this.registration.dateTime,
                departament_id: this.registration.departament_id,
            };
            console.log(this.registration.dateTime);
            axios.post(path, payload)
                .then((res) => {
                    this.recipients = res.data;
                })
                .catch((error) => {
                    // eslint-disable-next-line
                    console.error(error);
            });
        },
        getAllDepartaments(){
            const path = '/departament';
            axios.get(path)
                .then((res) => {
                    this.departaments = res.data;
                })
                .catch((error) => {
                    // eslint-disable-next-line
                    console.error(error);
            });
        },
        getAllUsers(){
            const path = '/users';
            axios.get(path)
                .then((res) => {
                    this.users = res.data;
                })
                .catch((error) => {
                    // eslint-disable-next-line
                    console.error(error);
            });
        },
        handleCheck(){
            if(this.id == null || this.id == ""){
                this.alert = "Fill id field!";
                return;
            }
            this.getRegistration(this.id)
            window.setInterval(() => {
                this.getRegistration(this.id)
            }, 5000)
        },
        getRegistration(id){
            const path = `/registration/${id}`
            axios.get(path)
                .then((res) => {
                    // this.alert = "Puiku.";
                    this.assignValues(res.data);
                    this.alert = "";
                })
                .catch(() => {
                    // eslint-disable-next-line
                    this.alert = "Registration not found";
                });
        },
        assignValues(data) {
            this.getAllUsers();
            this.getAllDepartaments();
            var specialist = this.filteredUser(data.user_id)[0];
            var departament = this.filteredDepartament(data.departament_id)[0];
            this.registration.id = data.id;
            this.registration.name = data.name;
            this.registration.surname = data.surname;
            this.registration.user = specialist.name + " " + specialist.surname; 
            this.registration.departament = departament.name;
            this.registration.departament_id = data.departament_id;
            this.registration.dateTime = data.visit_time;
            this.registration.date = new Date(data.visit_time).toLocaleDateString();
            this.registration.time = new Date(data.visit_time).toLocaleTimeString();
            this.registration.status = data.status;
            this.getRecipients();
            this.submitted = true;
        },
        filteredUser(id) {
            return this.users.filter(user => { return user.id == id})
        },
        filteredDepartament(id) {
            return this.departaments.filter(dep => { return dep.id == id})
        },
        getOptionLabel(option) {
            return `${option.name}`;
        },
    },
    computed:{
        filteredUsers() {
            return this.users.filter(user => { return user.departament_id == this.registration.departament_id})
        },
        status(){
            if(this.registration.status == 0){
                return "Waiting";
            }
            if(this.registration.status == 1){
                return "Active";
            }
            if(this.registration.status == 2){
                return "Completed";
            }
            else{
                return "Removed";
            }
        }        
    },
    watch: {
        'registration.departament_id': function() {
            this.registration.user_id = null;
        }
    },
    created() {
        this.getAllDepartaments();
        this.getAllUsers();
        
        // this.getRegistration(this.registration.id)
    }
}

</script>
