<template>
    <div>
        <h1>404 Page not found</h1>
    </div>
</template>

<style scoped>
h1 {
  font-size:5vw;
  font-weight: bolder;
}
div {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
</style>
