<template>
  <div class="container">
    <header class="jumbotron">
      <h3>
        <strong>{{profile.username}}</strong> Profile
      </h3>
    </header>
    <p>
      <strong>Token:</strong>
      {{currentUser.accessToken.substring(0, 20)}} ... {{currentUser.accessToken.substr(currentUser.accessToken.length - 20)}}
    </p>
    <p>
      <strong>Id:</strong>
      {{profile.id}}
    </p>
    <p>
      <strong>Username:</strong>
      {{profile.username}}
    </p>
    <p>
      <strong>Name:</strong>
      {{profile.name}}
    </p>
    <p>
      <strong>Surname:</strong>
      {{profile.surname}}
    </p>
    <p>
      <strong>Email:</strong>
      {{profile.email}}
    </p>
    <p>
      <strong>Department name:</strong>
      {{profile.departament_name}}
    </p>
  </div>
</template>

<script>
import axios from 'axios';
import authHeader from '../services/auth-header';

export default {
  name: 'Profile',
  data(){
    return {
      profile: {
        id: '',
        username: '',
        name: '',
        surname: '',
        email: '',
        departament_id: '',
        departament_name: ''
      },
    }
  },
  computed: {
    currentUser() {
      var user = this.$store.state.auth.user
      return user;
    }
  },
  methods:{
    getUserInfo() {
        const path = `/users/${this.currentUser.id}`;
        axios.get(path, { headers: authHeader() })
          .then((res) => {
            this.profile.id = res.data.id;
            this.profile.username = res.data.username;
            this.profile.name = res.data.name;
            this.profile.surname = res.data.surname;
            this.profile.email = res.data.email;
            this.profile.departament_id = res.data.departament_id;
            this.profile.departament_name = res.data.departament_name;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
      },
  },
  created() {
    this.getUserInfo();
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push('/login');
    }
  }
};
</script>