<template>
  <div class="container">
    <header class="jumbotron">
      <h3>
        <strong>Registration for appointment</strong>
      </h3>
    </header>
    <form name="form" @submit.prevent="handleRegister">
        <div class="form-group">
          <div v-if="alert" class="alert alert-danger" role="alert">{{alert}}</div>
        </div>
        <div v-if="!submitted">
          <div class="form-group">
              <label for="name">Name</label>
              <input
                  v-model="registration.name"
                  type="text"
                  class="form-control"
                  name="name"
              />
          </div>
          <div class="form-group">
              <label for="surname">Surname</label>
              <input
                  v-model="registration.surname"
                  type="text"
                  class="form-control"
                  name="surname"
              />
          </div>
          <div class="form-group">
              <label for="departament">Department</label>
              <v-select :options="departaments" :get-option-label="getOptionLabel1" :reduce="name => name.id"  v-model="registration.departament_id">
                <template #search="{attributes, events}">
                  <input
                    class="vs__search"
                    :required="!registration.departament_id"
                    v-bind="attributes"
                    v-on="events"
                  />
                </template>
              </v-select>
          </div>
          
          <div class="form-group" v-if="registration.departament_id">
              <label for="specialist">Specialist</label>
              <v-select :options="filteredUsers" :get-option-label="getOptionLabel2" :reduce="name => name.id"  v-model="registration.user_id">
                <template #search="{attributes, events}">
                  <input
                    class="vs__search"
                    :required="!registration.user_id"
                    v-bind="attributes"
                    v-on="events"
                  />
                </template>
              </v-select>
          </div>
          
          <div class="form-group" v-if="registration.user_id">
            <button class="btn btn-primary btn-block">
              <span>Register appointment</span>
            </button>
          </div>
        </div>
    </form>
    <div v-if="code" class="alert">Your registration code has been generated: <b>{{code}}</b>. Do not lose it!</div>
    <div v-if="submitted">
      <button class="btn btn-primary btn-block" v-on:click="goToDepRegistration">
        <span>Check my registration</span>
      </button>
    </div>
  </div>
</template>

<script>
import Registration from '../models/registration';
import axios from 'axios';


export default {
    name: 'Register',
        data() {
        return {
            selected_id: null,
            submitted: false,
            registration: new Registration("","",null,null),
            departaments: [],
            users: [],
            code: null,
            alert: "",
        };
    },
    methods: {
        goToDepRegistration(){
          this.$router.push({name:'myRegistration', params: {code: this.code}});
        },
        getAllDepartaments(){
            const path = '/departament';
            axios.get(path)
                .then((res) => {
                    this.departaments = res.data;
                })
                .catch((error) => {
                    // eslint-disable-next-line
                    console.error(error);
            });
        },
        getAllUsers(){
            const path = '/users';
            axios.get(path)
                .then((res) => {
                    this.users = res.data;
                })
                .catch((error) => {
                    // eslint-disable-next-line
                    console.error(error);
            });
        },
        handleRegister(){
          if (this.registration.name.trim() == "" || this.registration.surname.trim() == ""){
            this.alert = "Fill all fields!";
            return;
          }
          const payload = {
            name: this.registration.name,
            surname: this.registration.surname,
            departament_id: this.registration.departament_id,
            user_id: this.registration.user_id,
          };
          this.postRegister(payload);
        },
        postRegister(payload){
          const path = 'registration';
          axios.post(path, payload)
            .then((res) => {
              this.code = res.data;
              this.alert = "";
              this.submitted = true;
            })
            .catch((error) => {
              //eslint-disable-next-lint
              console.log(error);
            })
        },
        getOptionLabel1(option){
           return `${option.name}`;
        },
        getOptionLabel2(option) {
            return `${option.name} ${option.surname}`;
        },

    },
    computed:{
        filteredUsers() {
            return this.users.filter(user => { return user.departament_id == this.registration.departament_id})
        },
    },
    watch: {
        'registration.departament_id': function() {
            this.registration.user_id = null;
        }
    },
    created() {
        this.getAllDepartaments();
        this.getAllUsers();
    }
}

</script>