<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1></h1>

        <hr />
        <br />
        <header>
          <h1>Tickets</h1>
        </header>
        <body>
          <div v-if="activeTickets.length != 0" style="font-weight: bold;">
            Active reservation: {{ activeTickets[0].id }}
            {{ activeTickets[0].name }} {{ activeTickets[0].surname }}
            <button
              type="button"
              class="btn btn-warning btn-sm"
              @click="confirmCompleteWindow(activeTickets[0])"
            >
              Complete
            </button>
          </div>
          <div v-if="alert" class="alert alert-success" role="alert">
            {{ alert }}
          </div>
          <br /><br />

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Status</th>
                <th scope="col">Department</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(registration, index) in unactiveTickets" :key="index">
                <td>{{ registration.id }}</td>
                <td>{{ registration.name }}</td>
                <td>{{ registration.surname }}</td>
                <td>{{ registration.status }}</td>
                <td>{{ registration.departament }}</td>
                <td>
                  {{ new Date(registration.visit_time).toLocaleDateString() }}
                </td>
                <td>
                  {{ new Date(registration.visit_time).toLocaleTimeString() }}
                </td>
                <td>
                  <div class="btn-group" role="group">
                    <button
                      type="button"
                      v-if="index == 0"
                      class="btn btn-warning btn-sm"
                      @click="confirmActiveWindow(registration)"
                    >
                      Activate
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger btn-sm"
                      @click="confirmRemoveWindow(registration)"
                    >
                      Cancel
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </body>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import authHeader from '../services/auth-header';
  
  export default {
    name: 'registrations',
    data() {
        return {
            registration: [],
            alert: "",
        }
    },
    methods: {
        confirmCompleteWindow(registration){
            this.$confirm("Are you sure want to complete " + registration.name + " " + registration.surname +  "?").then(() => {
                this.checkActive()
            });
        },
        confirmRemoveWindow(registration){
            this.$confirm("Are you sure want to remove " + registration.name + " " + registration.surname +  "?").then(() => {
                
                this.changeStatus(registration.id, -1);
            });
        },
        confirmActiveWindow(registration){
            this.$confirm("Are you sure want to set to active " + registration.name + " " + registration.surname +  "?").then(() => {
                this.checkActive()
                this.changeStatus(registration.id, 1);
            });
        },
        checkActive(){
          if(this.activeTickets.length != 0)
          {
            this.changeStatus(this.activeTickets[0].id, 2)
          }
        },
        changeStatus(id, number){
            const path = `/ticket/${id}`
            const payload = {
              status: number,
            };
            axios.put(path, payload, { headers: authHeader() })
            .then(() => {
                this.alert = 'Status changed!';
                this.getAllRegistrations(this.currentUser.id);
            })
            .catch((error) => {
                // eslint-disable-next-line
                console.error(error);
                this.alert = 'Failed to change status.'
                this.getAllRegistrations(this.currentUser.id);
            });
        },
        getAllRegistrationsTimer(id, timer){
          const path = `/ticket/${id}`;
          var me = this;
          setInterval(function(){axios.get(path, { headers: authHeader() })
            .then((res) => {
                me.registration = res.data;
            })
            .catch((error) => {
                // eslint-disable-next-line
                console.error(error);
            })
          }, timer);
        },
        getAllRegistrations(id) {
            const path = `/ticket/${id}`;
            axios.get(path, { headers: authHeader() })
            .then((res) => {
                this.registration = res.data;
            })
            .catch((error) => {
                // eslint-disable-next-line
                console.error(error);
            });
      },
    },
    created() {
      this.getAllRegistrations(this.currentUser.id);
      this.getAllRegistrationsTimer(this.currentUser.id, 5000)
    },
    computed: {
        currentUser() {
            var user = this.$store.state.auth.user
            return user;
        },
        unactiveTickets() {
            return this.registration.filter(reg => { return reg.status == 0})
        },
        activeTickets() {
            return this.registration.filter(reg => { return reg.status == 1})
        }

    },
  }
</script>

<style scoped>
button {
  margin-right: 5%;
}
header {
  font-size: 26px;
  font-weight: 600;
  color: #2c3e5099;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
}

body {
  font-family: "Times New Roman", Times, serif;
}

footer {
  text-align: center;
  font-family: "Arial";
  font-size: 20px;
  font-weight: 400;
  color: #37373899;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
}

#app {
  max-width: 30em;
  margin: 1em auto;
}
</style>