<template>
  <div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <form name="form" @submit.prevent="handleRegister">
        <div v-if="!successful">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              v-model="user.username"
              v-validate="'required|min:3|max:20'"
              type="text"
              class="form-control"
              name="username"
            />
            <div
              v-if="submitted && errors.has('username')"
              class="alert-danger"
            >{{errors.first('username')}}</div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              v-model="user.password"
              v-validate="'required|min:5|max:40'"
              type="password"
              class="form-control"
              name="password"
            />
            <div
              v-if="submitted && errors.has('password')"
              class="alert-danger"
            >{{errors.first('password')}}</div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              v-model="user.email"
              v-validate="'required|email|max:50'"
              type="email"
              class="form-control"
              name="email"
            />
            <div
              v-if="submitted && errors.has('email')"
              class="alert-danger"
            >{{errors.first('email')}}</div>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input
              v-model="user.name"
              v-validate="'required|max:50'"
              type="text"
              class="form-control"
              name="name"
            />
            <div
              v-if="submitted && errors.has('name')"
              class="alert-danger"
            >{{errors.first('name')}}</div>
          </div>
          <div class="form-group">
            <label for="surname">Surname</label>
            <input
              v-model="user.surname"
              v-validate="'required|max:50'"
              type="text"
              class="form-control"
              name="surname"
            />
            <div
              v-if="submitted && errors.has('surname')"
              class="alert-danger"
            >{{errors.first('surname')}}</div>
          </div>
          <div class="form-group">
            <label for="departament">Department</label>
            <v-select :options="departaments" :get-option-label="getOptionLabel" :reduce="name => name.id"  v-model="user.departament_id">
              <template #search="{attributes, events}">
                <input
                  class="vs__search"
                  :required="!user.departament_id"
                  v-bind="attributes"
                  v-on="events"
                />
              </template>
            </v-select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" :disabled="loading">
              <span v-show="loading" class="spinner-border spinner-border-sm"></span>
               <span>Sign up</span>
            </button>
          </div>
        </div>
      </form>
      <div
        v-if="message"
        class="alert"
        :class="successful ? 'alert-success' : 'alert-danger'"
      >{{message}}</div>
    </div>
  </div>
</template>

<script>
import User from '../models/user';
import axios from 'axios';


export default {
  name: 'Register',
  data() {
    return {
      user: new User('', '', '', '', '', null),
      submitted: false,
      successful: false,
      loading: false,
      message: '',
      departaments: [],
      selected_id: null,
      answer: ''
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  mounted() {
    if (this.loggedIn) {
      this.$router.push('/profile');
    }
  },
  methods: {
    getAllDepartaments(){
      const path = '/departament';
            axios.get(path)
            .then((res) => {
                this.departaments = res.data;
            })
            .catch((error) => {
                // eslint-disable-next-line
                console.error(error);
            });
    },
    getOptionLabel(option) {
      return `${option.name}`;
    },
    handleRegister() {
      this.loading = true;
      this.message = '';
      this.submitted = true;
      this.$validator.validate().then(isValid => {
        if (isValid) {
          this.$store.dispatch('auth/register', this.user).then(
            data => {
              this.answer = data;
              this.message = 'User added successfully.';
              this.successful = true;
              this.loading = false;
            },
            error => {
              this.answer = error;
              this.message = "Failed to add new user.";
              this.successful = false;
              this.loading = false;
            }
          );
        }
        else{
          this.loading = false;
          
        }
      });
    }
  },
  created() {
    this.getAllDepartaments();
  }
};
</script>

<style scoped>
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
</style>