<template>
  <div id="app">
  <b-navbar toggleable="lg" type="dark" variant="dark">
    <b-navbar-brand href="#">Department Registration</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="/home">Home</b-nav-item>
        <b-nav-item v-if="!currentUser" href="/registry">Registration</b-nav-item>
        <b-nav-item v-if="!currentUser" href="/myRegistration">My registration</b-nav-item>
        <b-nav-item v-if="currentUser" href="/registrations">Tickets</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown text="User" right>
          <div v-if="!currentUser">
            <b-dropdown-item href="/register">Register</b-dropdown-item>
            <b-dropdown-item href="/login">Login</b-dropdown-item>
          </div>
          <div v-if="currentUser">
            <b-dropdown-item href="/profile">{{currentUser.username}} profile</b-dropdown-item>
            <b-dropdown-item href="/home" @click.prevent="logOut">Logout</b-dropdown-item>
          </div>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>

    <div class="container">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    
    showAdminBoard(){
      if (this.currentUser && this.currentUser.roles) {
        for(var i = 0; i < this.currentUser.roles.length; i++){
          if(this.currentUser.roles[i].role.includes('ROLE_ADMIN'))
            return true;
        }
      }
      return false;
    },
    showModeratorBoard() {
      if (this.currentUser && this.currentUser.roles) {
        //return this.currentUser.roles.includes('ROLE_MODERATOR');
      }

      return false;
    }
  },
  methods: {
    logOut() {
      this.$store.dispatch('auth/logout');
      this.$router.push('/login');
    },
    checkPrivilige(required){
      if (this.currentUser && this.currentUser.roles) {
        for(var i = 0; i < this.currentUser.roles.length; i++){
          if(this.currentUser.roles[i].role.includes(required))
            return true;
        }
      }
      return false;
    },
  },
};
</script>